Ok, so this is an interesting choice of mine and probably a poor use of time and money but we are to do the3 work of teams of experts to consolidate clean up but perserve my history of development as a developer in the age of agi. We will be modularizing my github history not too erase history but to clean up and make more organized

You are to track history of repositories that join this monorepo and also to be sure to clean up the users github account